* {
	margin: 0px;
	padding: 0px;
}

#subtop {
	color:white;
}

#logo {
	margin-left: 150px;
}

.hyperlinks{
	color: white;
	float: right;
	font-family: "Times New Roman",serif;
	margin-right: 10px;
	text-decoration: none;
}


span a:hover{
	text-decoration: underline;
}

h1 {
	font-family: "Times New Roman", serif;
	font-style: normal;
	font-size: 55px;
	color: white;
	padding-right: 250px;
}

h1 a{
	color: white;
	text-decoration:none;
}

body {
	background-color: #dcdcdc;
	margin: 0px;
}

#Above {
	background-color : black;
	text-align: center;
	border: 1px solid white;
}

#left{
	float:left;
	width: 700px;

}

#right {
	float: right;
	width: 600px;
}

#LeftFooter{
	float:left;
	padding-left : 350px;
}



#RightFooter{
	float:right;
	padding-right: 350px;
}

div div span ul{
	list-style: none;
}
