* {
	margin: 0;
	padding: 0;
}

#subtop {
	
	color : white;
	font-style: italic;
	padding-left: 230px;
}

#logo {
	margin-left: 100px;
}

h1 {
	font-family: "Times New Roman", serif;
	font-style: normal;
	font-size: 55px;
	color: white;
	padding-right: 150px;
}

body {
	background-color: #dcdcdc;
	margin: 0;
}

div {
	background-color : black;
	text-align: center;
	border: 1px solid white;
}