* {
	margin: 0px;
	padding: 0px;
}

#subtop {
	color:white;
}

#logo {
	margin-left: 150px;
}

.hyperlinks{
	color: white;
	float: right;
	font-family: "Times New Roman",serif;
	margin-right: 7px;
	text-decoration: none;
}


span a:hover{
	text-decoration: underline;
}

#Above h1 {
	font-family: "Times New Roman", serif;
	font-style: normal;
	font-size: 55px;
	color: white;
	padding-right: 250px;
}

h1 a{
	color: white;
	text-decoration:none;
}

body {
	background-color: #222;
	margin: 0px;
}

#Above {
	width:100% ;
	background-color : black;
	text-align: center;
	border: 1px solid white;
	position: fixed;
}

div div blockquote{
	width : 400px;
	float:left;
	padding-left: 80px;
}

div span{
	width: 500px;
	margin-right: auto;
	float: center;
	color: white;
}

#LeftFooter{
	float:left;
	padding-left : 350px;
}



#RightFooter{
	float:right;
	padding-right: 350px;
}

div div span ul{
	list-style: none;
}

#Content{
	width: 800px;
	margin : auto;
}

#Content h1{
	font-family: "Times New Roman", serif;
	font-style: normal;
	font-size: 40px;
	color: white;
	text-align: center;
}

#Content p{
	color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}